<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
      <link rel="stylesheet" href="/CSS/app.css">
      <title></title>
   </head>
   <body>
      <h1>Edit Your Blog</h1>
      <form action="/momblog/index<%=momblog.id%>?_method=PUT" method="POST">
         <lable for="image"></lable>
         Image: <input type="text" name="img" value"<%=momblog.img%>/><br/>
         <lable for="title">Title:</lable>
          <input type="text" name"title" value"<%=momblog.title%>/>
          <br/>
          <lable for="title">Author:</lable>
          <input type="text" name"author" value"<%=momblog.author%>/>
         <br/>
         <lable for="Blog">Blog Excerpt:</lable>
         <input type="text" name"Blog" value"<%=momblog.blog%>/>
        <br/>
         <input type="submit" value="Submit Changes"/>
      </form>
      <a href="/momblog/index">Back to Blogs</a>
      <br/>
      <a href="/momblog">Home Page</a>
   </body>
</html>
