<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
      <link rel="stylesheet" href="/CSS/app.css">
      <title></title>
      <style>
         .module { position: relative}
         body {
            font-weight: bolder;
            text-emphasis-color: red;
            background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRJdcDbdgW1qUztMK5XfOLdPGLAZR5uhkKzAA&usqp=CAU')}
         body img{
            opacity: 0.3
         }

      </style>
   </head>
   <body>
      <div class="module">
         <div class="module-inside">
            <h1>Edit Your Blog</h1>
            <form action="/momblog/<%=momblog.id%>?_method=PUT" method="POST">

               Image: <input type="text" name="img" value="<%=momblog.img%>"/><br/>

                Name: <input type="text" name="title" value="<%=momblog.title%>"/>
                <br/>

                Author: <input type="text" name="author" value="<%=momblog.author%>"/>
               <br/>

               Blog Excerpt: <input type="text" name="Blog" value="<%=momblog.blog%>"/>
              <br/>
               <input type="submit" value="Submit Changes"/>
            </form>
         </div>
   </div>
      <a href="/momblog/index">Back to Blogs</a>
      <br/>
      <a href="/momblog">Home Page</a>
   </body>
</html>
