<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
      <link rel="stylesheet" href="/CSS/app.css">
      <title></title>
      <style>
         .form {
            background: #c14242;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
         }
         .nav {
               display: flex;
               flex-direction: row;
               justify-content: space-between;
               background: lightgrey;
               border: 2px solid black;
               border-radius: 1em;
         }
         body {
            background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRJdcDbdgW1qUztMK5XfOLdPGLAZR5uhkKzAA&usqp=CAU')}

      </style>
   </head>
   <body>
      <div class="">
         <div class="form">
            <h1>Edit Your Blog</h1>
            <form action="/momblog/<%=momblog.id%>?_method=PUT" method="POST">

               Image: <input type="text" name="img" value="<%=momblog.img%>"/><br/>

                Name: <input type="text" name="title" value="<%=momblog.title%>"/>
                <br/>

                Author: <input type="text" name="author" value="<%=momblog.author%>"/>
               <br/>

               Blog Excerpt: <input type="text" name="Blog" value="<%=momblog.blog%>"/>
              <br/>
               <input type="submit" value="Submit Changes"/>
            </form>
         </div>
   </div>
   <div class="nav">
      <a href="/momblog/index">Back to Blogs</a>
      <br/>
      <a href="/momblog">Home Page</a>
   </div>
   </body>
</html>
