<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
      <link rel="stylesheet" href="/CSS/app.css">
      <title></title>
      <style>
         .all {
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: lightblue;

         }
         .form {
            background: lightgrey;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 80%;
            height: 200px;
            border-radius: 1em;
            border: 3px dashed blue;
         }
         .nav1 {
               align: center;
               display: flex;
               align-content: center;
               justify-content: space-around;
               width: 400px;
               background: lightgrey;
               border: 2px solid black;
               border-radius: 1em;
         }


         body {background-image:url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRJdcDbdgW1qUztMK5XfOLdPGLAZR5uhkKzAA&usqp=CAU')}

      </style>
   </head>
   <body>
   <!-- <div class="hero-image"> -->
      <div class="all">

            <h1>Edit Your Blog</h1>

            <form action="/momblog/<%=momblog.id%>?_method=PUT" method="POST">
            <div class="form">
               Image: <input type="text" name="img" value="<%=momblog.img%>"/><br/>

                Name: <input type="text" name="title" value="<%=momblog.title%>"/>
                <br/>

                Author: <input type="text" name="author" value="<%=momblog.author%>"/>
               <br/>

               Blog Excerpt: <input type="text" name="Blog" value="<%=momblog.blog%>"/>
              <br/>
               <input type="submit" value="Submit Changes"/>
            </div>
            </form>


         <div class="nav1">
            <a href="/momblog/index">Back to Blogs</a>
            <br/>
            <a href="/momblog">Home Page</a>
         </div>
      </div>
   <!-- </div> -->
   </body>
</html>
