<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
      <link rel="stylesheet" href="/CSS/app.css">
      <title></title>
      <style>
        h1 { margin: 0 auto;}
        h2{text-decoration: underline;}
        body {background: aqua;}
        img {width: 400px; height: auto;}
      </style>
   </head>
   <body>
      <h1>Blogs Show Page</h1>

      <nav>
         <button><a href="/momblog/index">Back to Blogs</a></button>
      </nav>
         <!-- <ul> -->
            <img src="<%=momblog.img%>">
            <h2><%=momblog.title%></h2>
             By: <h5><%=momblog.author%></h5>
            <p><%=momblog.blog%></p>  <!-- </ul> -->
            <button>
            <a href="/momblog/<%=momblog.id%>/edit">Edit Blog</a><br/></button>
            <form action="/momblog/<%=momblog.id%>?_method=DELETE" method="POST">
               <input type="submit" value="Delete"/>
            </form>
   </body>
</html>
